body {
    font-family: sans-serif; /* Choose a suitable font */
 
    color: #ecf0f1; /* Light text */
}

.navbar {
    padding: 1rem 0;
    background-color: transparent !important;
}

.navbar-brand {
    font-size: 1.5rem;
    color: #ffffff !important;
}

.nav-link {
    color: #ffffff !important;
    margin-left: 1rem;
    
}

.nav-link:hover {
    color: #3498db !important; /* Blue hover color */
}

.navbar .btn-primary {
    background-color: rgba(255, 68, 0, 0.856); /* Orange contact button */
    border-color: rgba(255, 68, 0, 0.856);
}

.navbar .btn-primary:hover {
    background-color: rgba(255, 68, 0, 0.856);
    border-color: rgba(255, 68, 0, 0.856);
}

.hero {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.hero h1 {
    font-size: 3.5rem;
    line-height: 1.2;
    color: #ffffff;
}

.hero .text-muted {
    color: #bdc3c7 !important;
}

.hero .btn-primary {
    background-color: rgba(255, 68, 0, 0.856); /* Orange button */
    border-color: #e67e22;
}

.hero .btn-primary:hover {
    background-color: #d35400;
    border-color: #d35400;
}

.hero .btn-outline-secondary {
    color: #bdc3c7;
    border-color: #bdc3c7;
}

.hero .btn-outline-secondary:hover {
    background-color: #bdc3c7;
    color: #2c3e50;
}



.blue-box {
    overflow: hidden; /* To contain the image within the rounded borders */
    height: auto; /* Adjust as needed, or let the image dictate */
}

.blue-box img.fill-box {
    width: 100%;
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevent extra space below the image */
    object-fit: cover; /* Ensure the image fills the box without distortion */
}